name: careerbuddy

services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app

    command: uvicorn app.main:app --host 0.0.0.0 --port ${APP_PORT:-8000}
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - postgres
    restart: unless-stopped

    # command: uvicorn app.main:app --host 0.0.0.0 --port ${APP_PORT:-8000} --reload

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: buddy
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: celery -A app.celery_app.celery_app worker --loglevel=info --concurrency=2
    env_file: .env
    depends_on:
      - redis
      - api
    restart: unless-stopped

    volumes:
      - ./backend:/app

volumes:
  pgdata: